.commentapp{
	text-align: left;
	margin: auto;
	width: 36%;
}
ng2comment-app{
	text-align: center;
}
// Cross browser opacity: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
md-card{
	margin: 33px auto;
	&:hover .edit-btn{@include opacity(0.9);}
}
	.send-btn{
		position: absolute;
		right: 6%;
		bottom: 23%;
	}
	.edit-btn{
		@include opacity(0);
		position: absolute;
		top: 15px;
		right: 3px;
		@include transition(opacity 0.333s ease);
	}
		.edit-menu{
			border: 1px solid rgba(128, 128, 128, 0.17);
			display: block;
			width: 59%;
			height: 49px;
			float: right;
			padding: 13px 0 0 0;
			position: absolute;
			top: 0px;
			right: 0;
			border-radius: 2px;
		}

.material-icons{
	vertical-align: middle;
}

.float-right{
	float: right;
}
.text-align-right{
	text-align: right;
}

$purple: #582A91; 
$redish: #A42F40; 
$turquoise: #4C948B; 
$grey: #414654; 
$gold: #D2B847;

$colors: $purple, $redish, $turquoise, $grey, $gold, dodgerblue;

// http://stackoverflow.com/a/15475957/1762493
@for $i from 1 through length($colors) {
	.tag:nth-of-type(#{length($colors)}n+#{$i}){
		background: lighten(nth($colors, $i), 1%);
	}
}

.tag{
	padding: 8px 13px;
	transition: all 0.3s ease 0s;
	position: relative;
	margin: 15px;
	z-index: initial;
	color: rgba(255, 255, 255, 0.77);
}

/**
 * Forms
 */
.form-group {
	margin-bottom: 20px;
}
label {
	display: block;
}
input,
textarea {
	padding: 5px;
	border: 0;
	box-shadow: 0 1px #ccc;
}

input:focus,
textarea:focus {
	box-shadow: 0 2px #0d8bff;
	outline: 0;
}
